header {
    height: 20vh;
    .menu {
        height: 100%;
        background-color: #058710;
        text-align: center;
        .nav {
            font-size: 2rem;
        }
        .login {
            font-size: 2rem;
        }
    }
}

main {
    height: 200vh;
    background-image: url(../img/bg1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .mainly {
        height: 100%;
        .gauche {
            height: 100%;
            background-color: #058710;
        }
        .midle {
            height: 100%;
            .fil {
                h2 {
                    width: 100%;
                    text-align: start;
                }
                h3 {
                    width: 100%;
                    text-align: left;
                }
                .teamName {
                    width: 100%;
                    text-align: center;
                    font-size: 3rem;
                    margin: 0;
                    height: 0%;
                }
                .teamList {
                    width: 100%;
                    .leaderMain {
                        font-size: 1.5rem;
                        text-align: center;
                        p {
                            height: 10%;
                            margin: 0;
                        }
                    }
                    .iconT {
                        width: 120%;
                    }
                }
                height: 50%;
            }
            .FriendNews {
                height: 50%;
            }
        }
        .droite {
            height: 100%;
        }
    }
}

// ALL 
.row {
    margin: 0;
}

body {
    color: white;
}

// ANNIMATION
// Annimation de brillance ou de soulignage disparessant sur le menu