header {
    height: 20vh;
    .menu {
        height: 100%;
        background-color: #058710;
        text-align: center;
        .nav {
            font-size: 2rem;
        }
        .login {
            font-size: 2rem;
        }
    }
}

main {
    height: 100vh;
    background-color: #0c265d;
    .mainly {
        height: 100%;
        .gauche {
            height: 100%;
            background-color: #058710;
        }
        .midle {
            height: 100%;
            .fil {
                h2 {
                    width: 100%;
                    text-align: start;
                }
                h3 {
                    width: 100%;
                    text-align: left;
                }
                .teamName {
                    width: 100%;
                    text-align: center;
                }
                .teamList {
                    width: 100%;
                    .leaderMain {
                        font-size: 1.5rem;
                        text-align: center;
                    }
                }
                height: 50%;
            }
            .FriendNews {
                height: 50%;
            }
        }
        .droite {
            height: 100%;
        }
    }
}

// ALL 
.row {
    margin: 0;
}

body {
    color: white;
}

// ANNIMATION
// Annimation de brillance ou de soulignage disparessant sur le menu